.login-page-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e9ecef;
}

.register-box {
  width: 360px;
}

.card-outline.card-primary {
  border-top: 3px solid #007bff;
}

.login-box-msg {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-weight: 400;
}

.h1 {
  font-size: 2.5rem;
}

/* アイコンのサイズ調整 */
.input-group-text svg {
  width: 18px;
  height: 18px;
}