.register-box {
  width: 360px;
  margin: 7% auto;
}

.card {
  box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);
  margin-bottom: 1rem;
  background-color: #fff;
  border-radius: 0.25rem;
}

.card-outline {
  border-top: 3px solid;
}

.card-primary {
  border-top-color: #007bff;
}

.card-header {
  background-color: transparent;
  border-bottom: 1px solid rgba(0,0,0,.125);
  padding: .75rem 1.25rem;
}

.card-body {
  padding: 1.25rem;
}

.login-box-msg {
  margin: 0;
  padding: 0 20px 20px;
  text-align: center;
}

.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}

.mb-3 {
  margin-bottom: 1rem;
}

.form-control {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: .25rem 0 0 .25rem;
}

.input-group-append {
  margin-left: -1px;
  display: flex;
}

.input-group-text {
  display: flex;
  align-items: center;
  padding: .375rem .75rem;
  font-size: 1rem;
  color: #495057;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 0 .25rem .25rem 0;
}

.btn {
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: .25rem;
  cursor: pointer;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border: 1px solid #007bff;
}

.btn-block {
  display: block;
  width: 100%;
}
